<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="objectBrowser.editors.query.QueryEditor"
            contributorClass="objectBrowser.editors.query.QueryEditorActionContributor"
            extensions="sbql"
            icon="icons/sample.gif"
            id="objectBrowser.editors.QueryEditor"
            name="LoXiM Query Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ObjectBrowser"
            name="Object Browser"/>
      <wizard
            category="ObjectBrowser"
            class="objectBrowser.wizards.NewConnectionWizard"
            icon="icons/sample.gif"
            id="objectBrowser.wizards.NewConnectionWizard"
            name="New database connection"/>
      <wizard
            category="ObjectBrowser"
            class="objectBrowser.wizards.NewQueryWizard"
            icon="icons/sample.gif"
            id="objectBrowser.wizards.NewQueryWizard"
            name="LoXiM query"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ObjectBrowser"
            name="Object Browser"/>
      <view
            category="ObjectBrowser"
            class="objectBrowser.views.ObjectDatabaseExplorer"
            icon="icons/sample.gif"
            id="objectBrowser.views.ObjectDatabaseExplorer"
            name="Object Database Explorer"/>
      <view
            category="ObjectBrowser"
            class="objectBrowser.views.ResultView"
            icon="icons/sample.gif"
            id="objectBrowser.views.ResultView"
            name="Result View (graph)"/>
      <view
            category="ObjectBrowser"
            class="objectBrowser.views.ResultViewText"
            icon="icons/sample.gif"
            id="objectBrowser.views.ResultViewText"
            name="Result View (text)"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="objectBrowser.objectBrowsing">
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="objectBrowser.perspectives.ObjectBrowsingPerspectiveFactory"
            fixed="false"
            icon="icons/sample.gif"
            id="objectBrowser.objectBrowsing"
            name="Object Browsing"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="objectBrowser.launcher.QueryLaunchConfiguration"
            id="objectBrowser.launcher.QueryLaunchConfiguration"
            modes="run"
            name="LoXiM">
         <fileExtension
               default="true"
               extension="sbql"/>
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="objectBrowser.launcher.LoximTabGroup"
            id="objectBrowser.launcher.LoximTabGroup"
            type="objectBrowser.launcher.QueryLaunchConfiguration">
         <launchMode
               mode="run"/>
      </launchConfigurationTabGroup>
   </extension>

</plugin>
