*.cmake
*.so
*.a
DartConfiguration.tcl
Makefile
CMakeFiles
CMakeCache.txt
parser.c
parser.h
scanner.cc
loxim_server
lsbql
CBindingsTest
TransacionManagerTest
UtilThreadTest
config.h
ui_*
moc_*
loxim_gui
semaphore_test
spin_lock_test
thread_test2

