*.cmake
*.so
*.a
Makefile
CMakeFiles/
CMakeCache.txt
DartConfiguration.tcl
src/AdminParser/parser.c
src/AdminParser/parser.h
src/AdminParser/scanner.cc
src/Programs/loxim_server
src/Programs/lsbql
src/QueryParser/parser.c
src/QueryParser/parser.h
src/QueryParser/scanner.cc
src/Test/CBindings/CBindingsTest
src/Test/TransactionManager/TransacionManagerTest
src/Test/Util/UtilThreadTest
src/config.h

